@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Source;
  src: url("fonts/SourceSerif4-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  color: white;
  background-color: #3A5F56;
  border-radius: 6px;
  padding: 10px 18px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__link {
  color: #3A5F56;
  font-size: 16px;
}
.header__link:hover {
  color: #1f3a33;
}
.header__item {
  margin-right: 30px;
}
.header__cart {
  display: flex;
  gap: 8px;
}
.header__cart::before {
  content: "";
  background: url("img/cart.svg");
  display: block;
  width: 17px;
  height: 17px;
}
.header__cart::after {
  content: "0";
  color: #3A5F56;
  background-color: white;
  padding: 0 6px;
  border-radius: 50%;
}

.as {
  display: flex;
}

.main {
  background: url("img/bg.svg") no-repeat center center/cover;
  padding: 100px 0;
}
.main__wrap {
  gap: 64px;
  align-items: center;
  margin-top: 250px;
}
.main__title {
  font-family: Source;
  color: #3A5F56;
  font-size: 48px;
  margin-bottom: 15px;
}
.main__text {
  color: #292C32;
  font-size: 16px;
  margin-bottom: 27px;
}
.main__pic {
  margin-left: 64px;
}

.services {
  padding: 100px 0;
  background: url("img/bg2.svg") no-repeat center center/cover;
}
.services__zip {
  width: 160px;
  margin: 0 auto;
}
.services__title {
  font-family: Source;
  color: #3A5F56;
  font-size: 32px;
  margin-bottom: 11px;
  text-align: center;
}
.services__text {
  color: #292C32;
  font-size: 16px;
  max-width: 590px;
  margin: 0 auto 17px auto;
}
.services__text_center {
  text-align: center;
}
.services__row {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.services__card {
  width: 378px;
  border-radius: 16px;
  background-color: #f4f3f0;
  padding: 30px;
}
.services__icon {
  width: 48px;
  height: 48px;
  margin-bottom: 9px;
}
.services__subtitle {
  font-family: Source;
  color: #3A5F56;
  font-size: 24px;
  margin-bottom: 6px;
}
.services__read {
  color: #3A5F56;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.services__read::after {
  content: "";
  background: url("img/arrow.svg") no-repeat center center/cover;
  display: block;
  width: 20px;
  height: 10px;
}

.store {
  padding: 100px 0;
  background: url("img/bg3.svg") no-repeat center center/cover;
}
.store__zip {
  width: 160px;
  margin: 0 auto;
}
.store__title {
  font-family: Source;
  color: #DB343B;
  line-height: 38.4px;
  font-size: 32px;
  margin-bottom: 11px;
  text-align: center;
}
.store__card_text-area {
  padding: 30px;
}
.store__subtitle {
  color: #3A5F56;
  font-family: Source;
  font-size: 24px;
  margin-bottom: 6px;
}
.store__text {
  color: #3A5F56;
  font-size: 16px;
  max-width: 590px;
  margin: 0 auto 17px auto;
}
.store__text_center {
  text-align: center;
  color: #292C32;
}
.store__card {
  max-width: 438px;
  background-color: #ffffff;
  border-radius: 10px;
}
.store__row {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.store__more {
  color: #3A5F56;
  font-size: 17px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin: 30px auto 0 auto;
  max-width: 121px;
}
.store__more::after {
  content: "";
  background: url("img/arrow.svg") no-repeat center center/cover;
  display: block;
  width: 20px;
  height: 10px;
}

.contact {
  padding: 100px 0;
  background: url("img/bg4.svg") no-repeat center center/cover;
}
.contact__card {
  max-width: 800px;
  align-items: center;
  border-radius: 16px;
  margin: 0 auto;
  padding: 80px;
  background-color: #F4F3F0;
  display: flex;
  justify-content: space-between;
}
.contact__text {
  font-size: 28px;
  color: #292C32;
}
.contact__btn {
  color: white;
  font-size: 20px;
  background-color: #3A5F56;
  border-radius: 6px;
  padding: 20px 25px;
}

.footer {
  padding: 100px 0;
  background-color: #292C32;
}
.footer__container {
  width: 220.8px;
  height: 410px;
  margin-bottom: 28px;
}
.footer__logo {
  width: 160px;
  margin: 0 auto 85px auto;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  gap: 13px;
  margin-bottom: 13px;
}
.footer__link {
  color: #FFFFFF;
  font-size: 16px;
}
.footer__subtitle {
  color: #B87D58;
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer__subscribe {
  width: 458px;
  height: 410px;
}
.footer__subscribe_title {
  color: #B87D58;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer__subscribe_text {
  color: #FAFAFC;
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 10px;
}
.footer__item {
  margin-bottom: 13px;
}
.footer__input {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  width: 100%;
  background-color: #F9FAFB;
}
.footer__placeholder {
  border: 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
}
.footer__placeholder:focus {
  outline: none;
}
.footer__button {
  text-align: center;
  justify-content: center;
  border: 0;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #292C32;
  color: #FAFAFC;
}
.footer__last-stroke {
  display: flex;
  justify-content: space-between;
}
.footer__last-stroke_signature {
  display: flex;
  justify-content: space-between;
}
.footer__last-stroke_signature_text {
  color: #ffffff;
  font-size: 16px;
  line-height: 22.4px;
  margin: 10px 20px 0 0;
}
.footer__last-stroke_logos_row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.last {
  margin-bottom: 20px;
}

::-moz-placeholder {
  color: #ABABAB;
  margin: 12px 18px;
}

::placeholder {
  color: #ABABAB;
  margin: 12px 18px;
}
