@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Jura;
}
*::-moz-selection {
  background-color: #222;
  color: #fff;
}
*::selection {
  background-color: #222;
  color: #fff;
}

@font-face {
  font-family: Jura;
  src: url(../fonts/Jura-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Jura;
  src: url(../fonts/Jura-Regular.ttf);
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 7px;
}
.header__logo {
  font-size: 24px;
  color: #000;
}
.header__logo-pic {
  width: 45px;
}
.header__logo-pic img {
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  background: url("../img/Основа.png") no-repeat center center/cover;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .main {
    height: auto;
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .main {
    height: auto;
    padding: 50px 0;
  }
}
.main__mainer {
  display: flex;
  margin-top: 400px;
}
@media (max-width: 1200px) {
  .main__mainer {
    flex-direction: column;
    margin-top: 200px;
  }
}
.main__block {
  justify-content: center;
}
.main__block-title {
  font-size: 64px;
  font-weight: 700;
  color: #333;
}
@media (max-width: 1040px) {
  .main__block-title {
    font-size: 48px;
  }
}
@media (max-width: 1040px) {
  .main__block-title {
    font-size: 24px;
  }
}
.main__block-text {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 1040px) {
  .main__block-text {
    font-size: 20px;
  }
}
@media (max-width: 1040px) {
  .main__block-text {
    font-size: 16px;
  }
}
.main__block-button {
  font-size: 36px;
  padding: 66px 12px;
  outline: 1px solid #000;
  color: #000;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .main__block-button {
    padding: 30px 6px;
    font-size: 28px;
    width: calc(100% - 200px);
    align-items: center;
    margin: 25px auto;
  }
}
@media (max-width: 500px) {
  .main__block-button {
    padding: 10px 6px;
    font-size: 20px;
    width: calc(100% - 25px);
    align-items: center;
    margin: 25px auto;
  }
}
.main__block-button:hover {
  outline: none;
  background-color: #464646;
  transition: 0.5s;
  color: #fff;
}

.advantages {
  padding: 100px 0;
  background-color: #fff;
}
.advantages__title {
  margin-bottom: 50px;
  font-size: 48px;
  color: #333;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}
@media (max-width: 1040px) {
  .advantages__title {
    font-size: 26px;
  }
}
.advantages__wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media (max-width: 1050px) {
  .advantages__wrapper {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.advantages__wrapper-item {
  width: 400px;
  height: 600px;
  background-color: #8e8e8e;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .advantages__wrapper-item {
    width: 300px;
  }
}
@media (max-width: 1050px) {
  .advantages__wrapper-item {
    width: calc(100% - 75px);
  }
}
@media (max-width: 1050px) {
  .advantages__wrapper-item {
    width: calc(100% - 50px);
  }
}
.advantages__wrapper-item:hover {
  background-color: #797979;
  transition: 0.5s;
}
.advantages__wrapper-item_text {
  position: relative;
  top: 425px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.catalog {
  background-color: #797979;
  padding-top: 70px;
  padding-bottom: 100px;
  transition: 0.3s;
}
.catalog__title {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 83px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-items: stretch;
}
@media (max-width: 1200px) {
  .catalog__grid {
    grid-template-columns: repeat(auto-fill);
  }
}
.catalog__card {
  max-width: 375px;
  height: 300px;
  background-color: #d9d9d9;
  padding: 15px;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 500px) {
  .catalog__card {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
}
.catalog__card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 10px #555555;
  transition: 0.5s;
  transform: scale(1.05);
}
.catalog__card-img {
  background-color: #8e8e8e;
  height: 175px;
}
.catalog__card-img img {
  width: 100%;
}
.catalog__card-name {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}
.catalog__card-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__card-more_text {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.catalog__card-more_text::after {
  content: "";
  display: block;
  background-image: url("../img/Стрелка.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.catalog__card-more_text:hover::after {
  transition: 0.3s;
  transform: translateX(5px);
}

.img-1 {
  background: url("../img/laptop.png");
}
.img-2 {
  background: url("../img/monitor.png");
}
.img-3 {
  background: url("../img/pc.png");
}
.img-4 {
  background: url("../img/peripherals.png");
}
.img-5 {
  background: url("../img/accessories.png");
}
.img-6 {
  background: url("../img/smart-home.png");
}

.about {
  background-color: #f4f4f4;
  padding: 50px 0;
  border-bottom: 1px solid #000;
}
.about__block {
  background-color: #8e8e8e;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__block_title {
  font-size: 64px;
  letter-spacing: 65%;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (max-width: 1040px) {
  .about__block_title {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .about__main {
    padding: 0 20px;
  }
}
.about__main-text {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
@media (max-width: 1040px) {
  .about__main-text {
    font-size: 24px;
  }
}
.about__main-subtitle {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 1040px) {
  .about__main-subtitle {
    font-size: 38px;
  }
}
.about__main-middle {
  height: 1px;
  background-color: #000;
  margin-top: 50px;
}

.reviews {
  padding: 100px 0;
  background-color: #333;
}
.reviews__block {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin: auto;
  text-align: center;
}
.reviews__block-name {
  font-size: 20px;
}
.reviews__block-text {
  font-size: 16px;
}
.reviews__block-photo {
  width: 50px;
}
.reviews__block-photo img {
  width: 100%;
}

.newsletter {
  padding: 76px 0;
}
@media (max-width: 1040px) {
  .newsletter {
    padding: 30px 0;
  }
}
.newsletter__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1040px) {
  .newsletter__block {
    flex-direction: column;
  }
}
.newsletter__text {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  max-width: 500px;
}
.newsletter__form {
  height: 360px;
  width: 670px;
  background-color: #8e8e8e;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
@media (max-width: 1040px) {
  .newsletter__form {
    width: calc(100% - 100px);
    height: auto;
  }
}
@media (max-width: 750px) {
  .newsletter__form {
    padding: 15px;
  }
}
.newsletter__form-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1040px) {
  .newsletter__form-title {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
.newsletter__form-input {
  padding: 10px;
  width: 80%;
  outline: none;
  margin: 25px 0;
  font-size: 24px;
}
@media (max-width: 750px) {
  .newsletter__form-input {
    margin: 5px 0;
  }
}
.newsletter__form-input:hover {
  outline: none;
}
.newsletter__form-input:active {
  outline: none;
}
.newsletter__form-input:focus {
  outline: none;
}
.newsletter__form-button {
  padding: 10px;
  width: 80%;
  outline: none;
  margin: 25px 0;
}
@media (max-width: 750px) {
  .newsletter__form-button {
    margin: 5px 0;
  }
}

.footer {
  background: url(../img/footer-bg.svg) no-repeat center;
  height: 450px;
  display: flex;
  padding-top: 52px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1040px) {
  .footer {
    height: auto;
    padding-bottom: 52px;
  }
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
.footer__block_flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1040px) {
  .footer__block_flex {
    flex-direction: column;
  }
}
.footer__block-catalog_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.footer__block-catalog_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__block-catalog_item {
  font-size: 20px;
}
.footer__block-catalog_item:hover {
  text-decoration: underline;
}
@media (max-width: 1040px) {
  .footer__block-contacts {
    margin-top: 50px;
  }
}
.footer__block-contacts_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.footer__block-contacts_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__block-contacts_item {
  font-size: 20px;
}
.footer__block-contacts_item:hover {
  text-decoration: underline;
}
.footer__block-imgs {
  display: flex;
}
.footer__block-imgs-1 {
  margin: 5px;
}/*# sourceMappingURL=style.css.map */